<!doctype html>
<html lang="it">
  <%- include("../partials/head") %>
  <body>
    <% products.forEach(product => { %>
    <div class="border border-gray-200 p-4 my-4">
      <h2 class="text-xl font-semibold"><%= product.name %></h2>
      <p><%= product.description %></p>
      <p><%= product.price %></p>
      <p><%= product.updatedAt %></p>
    </div>
    <% }) %>
  </body>
</html>
